#prod{
    font-family:Helvetica;
}

.prodCard{
    border: 1px solid #965FD4;
    background-color: #1D1A2F;
    margin: 0.7rem;
    display: inline-block;
    color: #8BD450;
}
.precio{
    margin-top: 0.5rem;
}
.texto{
    margin-left: 5px;
}
#prodImg{
    height: 225px;

}