#titulo{
    color: #8BD450;
    font-family:Helvetica;
    font-size: 3rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  
}
  
.menu{
    background-image: linear-gradient(to left top, #734f9a, #5a427f, #433563, #2f2749, #1d1a2f);
}

.navlink{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.25rem;
}

.navlink-active{
    text-decoration: none;
    border: dotted aliceblue;
    border-width: 5px 1.5px;
    border-radius: 40px 10px; ;
    color: aliceblue;
    font-size: 1.25rem;
}

.lista{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.5rem;
}

